@mixin centered-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

:root {
	font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;

	// https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-5a626a-495057-343a40-212529
	--grayscale-1: #f8f9fa;
	--grayscale-2: #e9ecef;
	--grayscale-3: #dee2e6;
	--grayscale-4: #ced4da;
	--grayscale-5: #adb5bd;
	--grayscale-6: #6c757d;
	--grayscale-7: #5a626a;
	--grayscale-8: #495057;
	--grayscale-9: #343a40;
	--grayscale-10: #212529;
}

html, body {
	margin: 0;
	height: 100%;
}

body.light {
	background: var(--grayscale-1);
	color: var(--grayscale-10);

	--dialog-background: var(--grayscale-4);
	--flat-button-background: var(--grayscale-5);
	--error-message-background: #ffadad;
	--error-message-border: #ee6055;
}

body.dark {
	background: var(--grayscale-10);
	color: var(--grayscale-1);

	--dialog-background: var(--grayscale-9);
	--flat-button-background: var(--grayscale-7);
	--error-message-background: #e52444;
	--error-message-border: #a50200;
}

button {
	color: inherit;
	cursor: pointer;
	user-select: none;

	border: none;
	border-radius: 0.5em;
	background-color: var(--flat-button-background);
	white-space: nowrap;
}

div.error-message {
	margin: 0 auto;
	padding: 1em;
	width: fit-content;
	text-align: center;

	background: var(--error-message-background);
	border: var(--error-message-border) solid;
	border-radius: 0.8em;

	h4 {
		text-decoration: underline;
		margin-top: 0;
		margin-bottom: 1.2ex;
	}
}

navbar {
	display: flex;
	padding: 0 10px;
	flex-direction: row;
	justify-content: space-between;

	background: var(--dialog-background);

	span#graduation-cap {
		padding-left: 0.2em;
		padding-right: 0.35em;
	}

	button#toggle-dark-mode {
		max-height: 2.75em;
		padding: 0.8ex;
		margin: auto 0;
	}
}

div.login-or-create-account-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	width: 80%;
	max-width: 20em;
	height: 65%;
	max-height: 38ex;
	margin: 10ex auto;
	margin-bottom: 8ex;

	background: var(--dialog-background);

	div.tabs {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		width: 100%;

		button.tab {
			width: 50%;
			padding: 10px 16px;
			margin-top: 0;
			border-radius: 0;

			&.selected {
				background-color: inherit;
			}
		}
	}

	div.form {
		display: grid;
		gap: 1em;
		margin-top: 1ex;
		margin-bottom: 4ex;

		h3 {
			text-align: center;
			margin: 1ex 0 0;
			grid-column: 1 2;
		}

		div.label-and-input-box {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}

		div.label-and-checkbox {
			display: flex;
			justify-content: center;
			flex-direction: row;

			width: fit-content;

			label {
				margin-left: 0.3em;
			}
		}

		button {
			margin: 0.4ex auto 0;
			grid-column: 1 2;
			padding: 0.5em;
		}
	}
}
